version: "3.8"

services:
  mariadb:
    container_name: mariadb
    build:
      context: ./requirements/mariadb
    image: mariadb
    restart: always
    env_file:
      - .env
    volumes:
      - /home/${USER}/data/mariadb:/var/lib/mysql
    networks:
      - inception
    expose:
      - "3306"

  wordpress:
    container_name: wordpress
    build:
      context: ./requirements/wordpress
    image: wordpress
    restart: always
    env_file:
      - .env
    depends_on:
      - mariadb
    volumes:
      - /home/${USER}/data/wordpress:/var/www/html
    networks:
      - inception
    expose:
      - "9000"

  nginx:
    container_name: nginx
    build:
      context: ./requirements/nginx
    image: nginx
    restart: always
    depends_on:
      - wordpress
    volumes:
      - /home/${USER}/data/wordpress:/var/www/html
    networks:
      - inception
    ports:
      - "443:443"
  
  adminer:
    container_name: adminer
    build:
      context: ./requirements/bonus/adminer
    image: adminer
    restart: always
    networks:
      - inception
    depends_on:
      - mariadb
    ports:
      - "8080:8080"

  redis:
    container_name: redis
    build:
      context: ./requirements/bonus/redis
    image: redis
    restart: always
    networks:
      - inception

  static_site:
    container_name: static_site
    build:
      context: ./requirements/bonus/static_site
    image: static_site
    restart: always
    networks:
      - inception
    ports:
      - "8081:80"

  ftp:
    container_name: ftp
    build:
      context: ./requirements/bonus/ftp
    image: ftp
    restart: always
    volumes:
      - /home/${USER}/data/wordpress:/var/www/html
    networks:
      - inception
    ports:
      - "21:21"
      - "21000-21010:21000-21010"

  node_exporter:
    container_name: node_exporter
    build:
      context: ./requirements/bonus/monitoring/node_exporter
    image: node_exporter
    restart: always
    networks:
      - inception

  prometheus:
    container_name: prometheus
    build:
      context: ./requirements/bonus/monitoring/prometheus
    image: prometheus
    restart: always
    networks:
      - inception
    ports:
      - "9090:9090"
    depends_on:
      - node_exporter

networks:
  inception:
    name: inception
    driver: bridge
