version: "3.8"

services:
  mariadb:
    container_name: mariadb
    build:
      context: ./requirements/mariadb
    image: mariadb
    restart: always
    env_file:
      - .env
    volumes:
      - /home/${USER}/data/mariadb:/var/lib/mysql
    networks:
      - inception
    expose:
      - "3306"

  wordpress:
    container_name: wordpress
    build:
      context: ./requirements/wordpress
    image: wordpress
    restart: always
    env_file:
      - .env
    depends_on:
      - mariadb
    volumes:
      - /home/${USER}/data/wordpress:/var/www/html
    networks:
      - inception
    expose:
      - "9000"

  nginx:
    container_name: nginx
    build:
      context: ./requirements/nginx
    image: nginx
    restart: always
    depends_on:
      - wordpress
    volumes:
      - /home/${USER}/data/wordpress:/var/www/html
    networks:
      - inception
    ports:
      - "443:443"
  
  adminer:
    container_name: adminer
    build:
      context: ./requirements/bonus/adminer
    image: adminer
    restart: always
    networks:
      - inception
    depends_on:
      - mariadb
    ports:
      - "8080:8080"

  redis:
    container_name: redis
    build:
      context: ./requirements/bonus/redis
    image: redis
    restart: always
    networks:
      - inception

networks:
  inception:
    name: inception
    driver: bridge
